:root {
  font: 16px / 1 sans-serif;
}

html {
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(65, 159, 173);
  font-family: 'Raleway', sans-serif;
}

.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div {
  display: table-cell;
  vertical-align: center;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
  padding-bottom: 20rem;
}
#sidebarMenu {
  height: 50%;
  position: fixed;
  left: 0;
  width: 150px;
  z-index: 15;
  margin-top: 9rem;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: transparent;
  /* background: linear-gradient(
    180deg,
    rgb(79, 221, 243) 0%,
    rgb(30, 76, 83) 100%
  ); */
}
.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  /* text-transform: uppercase; */
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li a {
  color: #fff;
  /* text-transform: uppercase; */
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type='checkbox']:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type='checkbox'] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  visibility: hidden;

  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  margin-top: 6rem;
  top: 22px;
  left: 15px;
  height: 28px;
  width: 28px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
.overlay {
  visibility: visible;
  position: absolute;
  top: 18rem;
  left: 59rem;
  height: 26rem;
  width: 21rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  z-index: 10;
}

.player {
  position: absolute;
  top: 19.25rem;
  left: 60.25rem;
  z-index: 12;
}
a:link {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 15%;
  font-family: 'Raleway', sans-serif;
  z-index: 13;
}

.name {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-left: 3rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.sub-nav {
  display: flex;
  flex-direction: row;
  visibility: visible;
  padding: 1.25rem;
}

.nav-details {
  color: white;
  padding: 2rem;
  font-size: 1.25rem;
  font-weight: lighter;
}

#nav-back-ground {
  margin-top: 2rem;
  margin-bottom: 4rem;

  height: 100%;
  background-color: rgb(65, 159, 173);
}
.gig-pic,
.guitar-pic,
.hero-pic {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
  display: flex;
  position: relative;
  height: 45rem;
  width: 100%;
}
iframe {
  display: flex;
  position: relative;
  height: 45rem;
  width: 100%;
}

img {
  height: 55rem;
  width: 100%;
}

.footer {
  margin-top: 0;
  margin-bottom: 1.75rem;
}
.footer-text {
  display: flex;
  justify-content: center;
  margin: 1rem;
  color: white;
  font-size: 2.15rem;
}

input {
  text-rendering: auto;
  word-spacing: normal;
  text-align: start;
  cursor: text;
  font-style: normal;
  line-height: 1rem;
  font-weight: 400;
  color: black;
  background-color: transparent;
  height: 20px;
  width: 30%;
}

.email-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 1rem;
  color: white;
}

.email-list input[type='email'] {
  border: 0;
  border-bottom: 1px solid white;
}

.email-list input[type='email']::placeholder {
  color: black;
  font-size: 1em;
}

.padding {
  padding: 1.5rem;
}
.button {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  font-size: 1rem;
  height: 36px;
  width: 72px;
  color: white;
  background-color: salmon;
  font-weight: 500;
  border-radius: 4px;
}
.button:hover {
  background-color: black;
  color: white;
}

.upcoming-shows {
  color: white;
  text-align: center;
  font-size: 3rem;

  margin-top: 8rem;
  margin-bottom: 2rem;
}

.events-box {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  font-size: 1.5rem;
  color: black;
  border: solid rgb(65, 159, 173) 4px;
}

.event-info {
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: rgba(255, 255, 255, 0.7);

  z-index: 10;
}

.event-detail {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.social-media {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 160px;
}

.fa-youtube,
.fa-instagram,
.fa-spotify,
.fa-facebook-f {
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.7s ease;
}

.fa-youtube:hover,
.fa-instagram:hover,
.fa-spotify:hover,
.fa-facebook-f:hover {
  color: salmon;
}

.name:hover,
.nav-details:hover,
.side-nav-details:hover {
  color: salmon;
  cursor: pointer;
  transition: all 0.4s ease;
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: transparent;

  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  height: 30rem;
}

.booking-title {
  display: flex;
  justify-content: center;

  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.labels {
  display: flex;
  flex-direction: column;
  color: white;
  /* height: 0.25rem; */
  font-size: 1.5rem;
  padding: 0.5rem;
  align-items: flex-start;
  justify-content: space-between;
}
.form-label {
  color: white;
  padding-right: 5rem;
  font-weight: bold;
}

input[type='date'].dateBox {
  font-size: 0.95rem;
  text-align: center;
  width: 30rem;
  height: 1.5rem;
  border-radius: 3px;
  color: black;
  background-color: whitesmoke;
}
.form-input {
  border: 1px solid white;
  width: 30rem;
  height: 1.5rem;
  border-radius: 3px;
  font-size: 1rem;
  color: black;
  background-color: whitesmoke;
}

.form-event-details-input {
  border: 1px solid white;
  width: 30rem;
  height: 7.5rem;
  border-radius: 3px;
  font-size: 1rem;
  color: black;
  background-color: whitesmoke;
}

form {
  display: flex;
  justify-content: center;
}

.form-button {
  display: flex;
  justify-content: center;
  margin-left: 14rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  height: 36px;
  width: 72px;
  color: white;
  background-color: salmon;
  font-weight: 500;
  border-radius: 4px;
}
.form-button:hover {
  background-color: black;
  color: white;
}
.form-overlay {
  position: absolute;
  top: 10rem;
  left: 25rem;
  height: 38rem;
  width: 38rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  z-index: 10;
}

@media (min-width: 481px) and (max-width: 767px) {
  .name {
    display: flex;
    align-items: left;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
  .sub-nav {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
  }

  img {
    height: 35rem;

    width: 100%;
  }

  iframe {
    display: flex;
    position: relative;
    height: 35rem;
    width: 100%;
  }

  .sidebarIconToggle {
    visibility: visible;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    margin-top: 6rem;
    top: 22px;
    left: 15px;
    height: 28px;
    width: 28px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .name {
    display: flex;
    align-items: left;
    padding: 0.5rem;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }

  .sub-nav {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    padding: 1.25rem;
  }

  img {
    height: 25rem;
    width: 100%;
  }

  .video {
    display: flex;
    position: relative;
    height: 25rem;
    width: 100%;
  }

  iframe {
    display: flex;
    position: relative;
    height: 25rem;
    width: 100%;
  }

  .sidebarIconToggle {
    visibility: visible;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    margin-top: 6rem;
    top: 22px;
    left: 15px;
    height: 28px;
    width: 28px;
  }

  .overlay {
    visibility: visible;
    position: absolute;
    top: 20rem;
    left: 0rem;
    height: 26rem;
    width: 21rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    z-index: 30;
  }

  .player {
    position: absolute;
    top: 29.25rem;
    left: 0rem;
    z-index: 12;
  }

  .footer {
    margin-top: 0;
    margin-bottom: 6rem;
    z-index: 70;
  }

  .footer-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-size: 1.5rem;
  }

  .social-media {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 160px;
  }

  .events-box {
    min-height: 100%;
    text-align: center;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    font-size: 1.5rem;
    color: black;
    border: solid rgba(65, 159, 173, 0.7) 2px;
  }

  .event-info {
    margin-left: 15rem;
    margin-right: 15rem;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 10;
  }

  .event-detail {
    padding-top: 3px;
    padding-bottom: 6px;
  }
}
